.fb-icon-padding{
    padding-left: 15px;
}
.offset-top-left-shadow {
    box-shadow: -5px -5px 10px;
  }
.card-borer{
    border: none !important;
}
.image-width{
    width: 100%; 
}
.display-image{
    display: flex;
    flex-wrap: wrap;
}
.nav-full-width {
    border-top: none !important;
    position: relative;
    clear: both;
}
.fa {
    font-size: 17px !important;
}
.para-color{
    color: #888;
}
.whatsapp-icon{
    width: 35px;
    margin: auto;
    padding-top: 8px;
}