{% extends 'web/base.html' %}
{% load static %}
{% block content %}
<!-- Breadcrumb -->
<div class="breadcrumb-container">
  <nav data-depth="2" class="breadcrumb container">
    <h1 class="h1 category-title breadcrumb-title">About Us</h1>
    <ul>
      <li>
        <a href="{% url 'web:index' %}">
          <span>Home</span>
        </a>
      </li>
      <li>
        <span>About</span>
      </li>
    </ul>
  </nav>
</div>

<!-- Cart page -->
<div id="wrapper">
  <div class="container">
    <div id="content-wrapper" class="col-xs-12">
      <section id="main">
        <div class="about-page">
          <div class="about-container">
            <div class="row">
              <div class="col-lg-6 col-md-12 col-sm-12">
                <a href="{% url 'web:contact' %}" class="about-img"><img alt="about-img"
                    src="{% static 'web/images/about-image.png' %}"></a>
              </div>
              <div class="about-us information-container col-lg-6 col-md-12 col-sm-12">
                <h2 class="title-container"> THE COMPLETE SOLUTION FOR CONSTRUCTION CHEMICALS</h2>
                <p>Our company is the whole distributor in Kerala for a number of leading
                  construction chemicals from different brands. We are looking forward to
                  delivering the best quality construction chemicals at the best rate available. Our
                  company consists of chemicals from the leading brands that can be chosen by
                  the customer according to their preferences.</p>
                <div class="about-btn">
                  <a href="{% url 'web:contact' %}" class="btn btn btn-primary">
                    CONTACT US
                    <svg aria-hidden="true" focusable="false" class="icon icon--wide icon-arrow-right"
                      viewBox="0 0 20 8">
                      <path
                        d="M4.814 7.555C3.95 6.61 3.2 5.893 2.568 5.4 1.937 4.91 1.341 4.544.781 4.303v-.44a9.933 9.933 0 0 0 1.875-1.196c.606-.485 1.328-1.196 2.168-2.134h.752c-.612 1.309-1.253 2.315-1.924 3.018H19.23v.986H3.652c.495.632.84 1.1 1.036 1.406.195.306.485.843.869 1.612h-.743z"
                        fill-rule="evenodd"></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="block-title">
            <h2 class="home-title">Something about us</h2>
            <p>Lead Chem works with an aim to deliver the most quality construction chemicals
              at a reasonable price for our valuable customers.</p>
          </div>
          <div class="about-services">
            <div class="row">
              <div class="col-lg-4 col-md-6 service">
                <img alt="icon-1" src="{% static 'web/images/Availability Of Leading Brands.png' %}">
                <h3>Availability Of Leading Brands</h3>
                <p>Lead Chem delivers construction chemicals that are developed by leading
                  brands for premium quality and durability.</p>
              </div>
              <div class="col-lg-4 col-md-6 service">
                <img alt="icon-2" src="{% static 'web/images/Complete Construction Chemicals.png' %}">
                <h3>Complete Construction Chemicals</h3>
                <p>We have the complete solution for all construction chemical necessities.
                  Purchase with us and secure your construction.</p>
              </div>
              <div class="col-lg-4 col-md-12 service">
                <img alt="icon-3" src="{% static 'web/images/Delivering High-Grade Products.png' %}">
                <h3>Delivering High-grade Products</h3>
                <p>Lead chem works in a motto to deliver the highest quality construction chemicals
                  for our customers to value their money and time.</p>
              </div>
            </div>
          </div>
          <div class="about-container bottom-about">
            <div class="row">
              <div class="about-us information-container text-right col-lg-6 col-md-12 col-sm-12">
                <div class="title-container"> PERFECT PLACE FOR CONSTRUCTION CHEMICALS</div>
                <p class="">Providing value for money and believing in quality are the guiding principles of
                  Lead Chem. This core value drives us to provide effective construction solutions and to
                  constantly search for the right products for customers, rather than searching for
                  customers for our products. These value-based business conventions made us one of
                  the most sought-after companies in Construction Chemicals providers in Kerala.</p>
                <div class="about-btn">
                  <a href="{% url 'web:contact' %}" class="btn btn btn-primary">
                    CONTACT US
                    <svg aria-hidden="true" focusable="false" class="icon icon--wide icon-arrow-right"
                      viewBox="0 0 20 8">
                      <path
                        d="M4.814 7.555C3.95 6.61 3.2 5.893 2.568 5.4 1.937 4.91 1.341 4.544.781 4.303v-.44a9.933 9.933 0 0 0 1.875-1.196c.606-.485 1.328-1.196 2.168-2.134h.752c-.612 1.309-1.253 2.315-1.924 3.018H19.23v.986H3.652c.495.632.84 1.1 1.036 1.406.195.306.485.843.869 1.612h-.743z"
                        fill-rule="evenodd"></path>
                    </svg>
                  </a>
                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12">
                <a href="{% url 'web:contact' %}" class="about-img"><img alt="about-img"
                    src="{% static 'web/images/feature-image.png' %}"></a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>


{% endblock %}