{% extends 'web/base.html' %}
{% load static %}
{% block content %}
      
      
      <!-- Cart page -->
      <div id="wrapper">
        <div class="container">
          <div id="content-wrapper" class="col-xs-12">
            <section id="main">
              <div class="about-page">    
                <div class="about-container">
                  <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">                                
                      <a href="contactpage.html" class="about-img"><img alt="about-img" src="{% static 'web/images/about-img1.jpg' %}"></a>
                    </div>
                    <div class="about-us information-container col-lg-6 col-md-12 col-sm-12">
                      <h2 class="title-container"> We Have Everything You Need ?</h2>
                      <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.Lorem ipsum.</p>  
                      <div class="about-btn">
                        <a href="contactpage.html" class="btn btn btn-primary">
                          CONTACT US
                          <svg aria-hidden="true" focusable="false" class="icon icon--wide icon-arrow-right" viewBox="0 0 20 8"><path d="M4.814 7.555C3.95 6.61 3.2 5.893 2.568 5.4 1.937 4.91 1.341 4.544.781 4.303v-.44a9.933 9.933 0 0 0 1.875-1.196c.606-.485 1.328-1.196 2.168-2.134h.752c-.612 1.309-1.253 2.315-1.924 3.018H19.23v.986H3.652c.495.632.84 1.1 1.036 1.406.195.306.485.843.869 1.612h-.743z" fill-rule="evenodd"></path></svg>
                        </a>
                      </div>             
                    </div>
                  </div>
                </div>              
                <div class="block-title">
                  <h2 class="home-title">Something about us</h2>
                  <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative to corporate strategy to the table win-win survival strategies to ensure</p>
                </div>
                <div class="about-services">
                  <div class="row">
                    <div class="col-lg-4 col-md-6 service">
                      <img alt="icon-1" src="{% static 'web/images/icons/icon-1.png' %}">
                      <h3>free resources</h3>
                      <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward</p>
                    </div>
                    <div class="col-lg-4 col-md-6 service">
                      <img alt="icon-2" src="{% static 'web/images/icons/icon-2.png' %}">
                      <h3>multi-purpose</h3>
                      <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward</p>
                    </div>
                    <div class="col-lg-4 col-md-12 service">
                      <img alt="icon-3" src="{% static 'web/images/icons/icon-3.png' %}">
                      <h3>fully responsive</h3>
                      <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward</p>
                    </div>
                  </div>
                </div> 
                <div class="about-container bottom-about">
                  <div class="row">
                    <div class="about-us information-container text-right col-lg-6 col-md-12 col-sm-12">
                      <div class="title-container"> WE HAVE EVERYTHING YOU NEED ?</div>
                      <p class="text-right">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.Lorem ipsum.</p>  
                      <div class="about-btn">
                        <a href="contactpage.html" class="btn btn btn-primary">
                          CONTACT US
                          <svg aria-hidden="true" focusable="false" class="icon icon--wide icon-arrow-right" viewBox="0 0 20 8"><path d="M4.814 7.555C3.95 6.61 3.2 5.893 2.568 5.4 1.937 4.91 1.341 4.544.781 4.303v-.44a9.933 9.933 0 0 0 1.875-1.196c.606-.485 1.328-1.196 2.168-2.134h.752c-.612 1.309-1.253 2.315-1.924 3.018H19.23v.986H3.652c.495.632.84 1.1 1.036 1.406.195.306.485.843.869 1.612h-.743z" fill-rule="evenodd"></path></svg>
                        </a>
                      </div>             
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">                                
                      <a href="contactpage.html" class="about-img"><img alt="about-img" src="{% static 'web/images/about-img2.jpg' %}"></a>
                    </div>
                  </div>
                </div>                 
              </div>
            </section>
          </div>
        </div>
      </div>
   
    
    {% endblock %}