{% extends 'web/base.html' %}
{% load static %}
{% block content %}
<!-- Breadcrumb -->
<div class="breadcrumb-container">
  <nav data-depth="2" class="breadcrumb container">
    <h1 class="h1 category-title breadcrumb-title">Update</h1>
    <ul>
      <li>
        <a href="{% url 'web:index' %}">
          <span>Home</span>
        </a>
      </li>
      <li>
        <span>News In Article</span>
      </li>
    </ul>
  </nav>
</div>
<!-- Smart Blog  -->
<div id="wrapper ">
  <div class="container">
    <div class="row mt-5">



      <div id="content-wrapper" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="smartblogcat" class="block">
          <div class="row">
            {% for updates in update %}
            <div class="col-sm-12 col-md-4 col-lg-4">
              <div class="sdsarticleCat clearfix row">
                <div class="articleContent col-xl-12 col-lg-12 col-md-12">
                  <a href="{% url 'web:blogDetails' updates.slug %}" title="Upon of seasons earth dominion">
                    <img alt="Upon of seasons earth dominion" src="{{updates.image.crop.370x242}}">
                  </a>
                </div>

                <div class="smartblog-desc col-xl-12 col-lg-12 col-md-12">


                  <div class="sdsarticleHeader">
                    <h3 class='sdstitle_block'><a title="Upon of seasons earth dominion"
                        href="{% url 'web:blogDetails' updates.slug %}">
                        {{updates.title}}</a></h3>
                  </div>

                  <div class="sdsarticle-des">
                    <div class="clearfix">
                      <div class="lipsum">
                        {{updates.summary}}
                      </div>
                    </div>
                  </div>
                  <div class="sdsreadMore">
                    <span class="more">
                      <a title="Upon of seasons earth dominion" href="{% url 'web:blogDetails' updates.slug %}"
                        class="r_more btn-primary">Read
                        more</a>
                    </span>
                  </div>
                </div>


              </div>
            </div>
            {% endfor %}





          </div>


        </div>





      </div>
    </div>
  </div>
</div>
<div class="container">
  <div id="_mobile_left_column"></div>
  <div id="_mobile_right_column"></div>
  <div class="clearfix"></div>
</div>
{% endblock %}