{% extends 'web/base.html' %}
{% load static %}
{% block content %}
<!-- Breadcrumb -->
<div class="breadcrumb-container">
  <nav data-depth="2" class="breadcrumb container">
    <h1 class="h1 category-title breadcrumb-title">Contact</h1>
    <ul>
      <li>
        <a href="/">
          <span>Home</span>
        </a>
      </li>
      <li>
        <span>Contact</span>
      </li>
    </ul>
  </nav>
</div>

<!-- contactpage -->
<div id="wrapper">
  <div id="content-wrapper" class="top-wrapper">
    <div class="container">
      <div class="mt-5">
        <section id="main">
          <div class="contact-form-information">
            <div class="row">
              <div class="contact-banner col-lg-6 col-md-12">
                <div class="image-container">
                  <a href="javascript:void(0);">
                    <img src="{% static 'web/images/contact-image.jpg' %}" alt="contact-image">
                  </a>
                </div>
              </div>
              <div class="information-container col-lg-6 col-md-12">
                <div class="title-container">
                  <h3 class="heading">get in touch</h3>
                  <span class="subheading">We&#39;d Love to Hear From You, Lets Get In Touch!</span>
                </div>
                <div class="list-contact-info col-md-12 col-sm-12 col-xs-12">
                  <div class="contact_info_item col-md-6 col-sm-6 col-xs-6">
                    <h3>address</h3>
                    <p>Demo street</p>
                    <p>France</p>
                  </div>
                  <div class="contact_info_item col-md-6 col-sm-6 col-xs-6">
                    <h3>Phone</h3>
                    <p>+00 900 123456789</p>
                  </div>
                  <div class="contact_info_item col-md-6 col-sm-6 col-xs-6">
                    <h3>Email</h3>
                    <p>
                      <a href="javascript:void(0);">
                        admin@gmail.com
                      </a>
                    </p>
                  </div>
                  <div class="contact_info_item col-md-6 col-sm-6 col-xs-6">
                    <h3>additional Information</h3>
                    <p>We are open: Monday - Saturday, 10AM - 5PM and colsed on sunday sorry for that.</p>
                  </div>
                  <div class="contact_info_item block-social col-md-12 col-sm-12 col-xs-12">
                    <h3>Social</h3>
                    <div class="block-container">
                      <ul class="social-inner">
                        <li class="facebook">
                          <a href="#" target="_blank">
                            <i class="fa fa-facebook"></i><span class="socialicon-label">Facebook</span>
                          </a>
                        </li>
                        <li class="twitter">
                          <a href="#" target="_blank">
                            <i class="fa fa-twitter"></i><span class="socialicon-label">Twitter</span>
                          </a>
                        </li>
                        <li class="rss">
                          <a href="#" target="_blank">
                            <i class="fa fa-instagram"></i><span class="socialicon-label">Instagram</span>
                          </a>
                        </li>
                        
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="contact-map clearfix">
      <div id="contact-map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d112173.0227855024!2d77.1389451881658!3d28.527485061500744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1606909721649!5m2!1sen!2sin"
          height="400" width="100%"></iframe>
      </div>
    </div>
    <div class="container">
      <div class="contact-form-bottom">
        <div class="contact-form form-vertical">
          <div class="title-container">
            <h3 class="heading">leave us a message</h3>
            <span class="subheading">-good for nature, good for you-</span>
          </div>
          <div class="form-field">

            <form method="POST"  class="contact-form ajax">
              <div class="form-fields row">
                {% csrf_token %}
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                  <label for="ContactFormName" class="hidden control-label">Name</label>
                  {{forms.name}}
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                  <label for="ContactFormEmail" class="hidden">Email</label>
                 {{forms.email}}
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                  <label for="ContactFormPhone" class="hidden">Phone</label>
                  {{forms.phone}}
                </div>

                <div class="form-group-area col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                  <label for="ContactFormMessage" class="hidden">Message</label>
                  {{forms.message}}
                </div>

                <div class="submit-button col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <input class="btn btn-primary" name="submitMessage" value="Send" type="submit">
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
{% block javascript %}

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  $(document).on('submit', 'form.ajax', function(e) {
      e.preventDefault();
      var $this = $(this);
      var data = new FormData(this);
      var action_url = $this.attr('action');
      var reset = $this.hasClass('reset');
      var reload = $this.hasClass('reload');
      var redirect = $this.hasClass('redirect');
      var redirect_url = $this.attr('data-redirect');

      $.ajax({
          url: action_url,
          type: 'POST',
          data: data,
          cache: false,
          contentType: false,
          processData: false,
          dataType: "json",

          success: function(data) {

              var status = data.status;
              var title = data.title;
              var message = data.message;
              var pk = data.pk;

              if (status == "true") {
                  if (title) {
                      title = title;
                  } else {
                      title = "Success";
                  }

                  Swal.fire({
                      title: title,
                      html: message,
                      icon: 'success',
                  }).then(function() {
                      if (redirect) {
                          window.location.href = redirect_url;
                      }
                      if (reload) {
                          window.location.reload();
                      }
                      if (reset) {
                          window.location.reset();
                      }
                  });

              } else {
                  if (title) {
                      title = title;
                  } else {
                      title = "An Error Occurred";
                  }
                  Swal.fire({
                      title: title,
                      html: message,
                      icon: "error"
                  });

              }
          },
          error: function(data) {
              var title = "An error occurred";
              var message = "something went wrong";
              Swal.fire({
                  title: title,
                  html: message,
                  icon: "error"
              });
          }
      });
  });
</script>
{% endblock %}