{% load static %}
<!-- footer -->
<footer id="footer">
  <div class="footer-container">
    <div class="container">
      <div class="row">
        <div id="_mobile_newsletter" class="col-md-12"></div>

        <!-- contactblock -->
        <div class="block-contact col-lg-3 col-md-12 col-sm-12 col-xs-12">
          <div id="contact-info-container" class="footer-contact">
            <div class="block phone col-lg-12 col-md-4 col-sm-4 col-xs-12">
              <span class="icon"><i class="fa fa-phone" aria-hidden="true"></i></span>
              <div class="content">
                <div class="title">Contact Us</div>
                <a href="tel:+917594939666">7594939666</a>
              </div>
            </div>
            <div class="block email col-lg-12 col-md-4 col-sm-4 col-xs-12">
              <span class="icon phone"><i class="fa fa-envelope" aria-hidden="true"></i></span>
              <div class="content">
                <div class="title">Email</div>
                <a href="mailto:leadchemindustries@gmail.com">leadchemindustries@gmail.com</a>
              </div>
            </div>
            <div class="block address col-lg-12 col-md-4 col-sm-4 col-xs-12">
              <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
              <div class="content">
                <a class="title" href="#map">Location</a>
                <p>Building No-10/220
                   Chiyyaram Road,
                   Koorkenchery-680007
                   Thrissur-Kerala</p>
              </div>
            </div>
          </div>
        </div>

        <!-- myaccount -->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 links wrapper footer-block">
          <h3 class="h3 title_block hidden-md-down">QUICK LINKS</h3>
          <div class="footer-title clearfix hidden-lg-up collapsed" data-target="#footer_account_list"
            data-toggle="collapse">
            <span class="h3">QUICK LINKS</span>
            <span class="float-xs-right">
              <span class="navbar-toggler collapse-icons">
                <i class="material-icons add"></i>
                <i class="material-icons remove"></i>
              </span>
            </span>
          </div>
          <ul id="footer_account_list" class="footer-dropdown collapse">
            <li>
              <a class="cms-page-link" href="{% url 'web:index' %}">
                Home
              </a>
            </li>
            <li>
              <a class="cms-page-link" href="{% url 'web:about' %}">
                About Us
              </a>
            </li>
            <li>
              <a class="cms-page-link" href="{% url 'web:product' %}">
                Products
              </a>
            </li>
            <li>
              <a class="cms-page-link" href="{% url 'web:blog' %}">
                Updates
              </a>
            </li>
            <li>
              <a class="cms-page-link" href="{% url 'web:gallery' %}">
                Gallery
              </a>
            </li>
            <li>
              <a class="cms-page-link" href="{% url 'web:contact' %}">
                Contact Us
              </a>
            </li>
          </ul>
        </div>

        <!-- linklist -->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 links wrapper footer-block">
          <h3 class="h3 title_block hidden-md-down">CATEGORY</h3>
          <div class="footer-title clearfix hidden-lg-up collapsed" data-target="#footer_sub_menu_83281"
            data-toggle="collapse">
            <span class="h3 title_block">CATEGORY</span>
            <span class="navbar-toggler collapse-icons">
              <i class="material-icons add"></i>
              <i class="material-icons remove"></i>
            </span>
          </div>
          <ul id="footer_sub_menu_83281" class="footer-dropdown collapse">
            <li>
              <a class="cms-page-link" href="{% url 'web:product' %}">
                Waterproofing Chemicals
              </a>
            </li>
            <li>
              <a class="cms-page-link" href="{% url 'web:product' %}">
                Flooring Systems
              </a>
            </li>
            <li>
              <a class="cms-page-link" href="{% url 'web:product' %}">
                Tiles Fixing Adhesives
              </a>
            </li>
            <li>
              <a class="cms-page-link" href="{% url 'web:product' %}">
                Curing & Adhesives
              </a>
            </li>
            <!-- <li>
                <a class="cms-page-link" href="about-us.html">
                  Terms & Conditions
                </a>
              </li> -->
          </ul>
        </div>



        <!-- newsletter -->
        <div id="_desktop_newsletter" class="col-xl-3 col-lg-3 ">
          <div class="row">
            <div class="block_newsletter col-md-12 col-sm-12 col-xs-12">
              <div id="newsletter-container" class="box-content">
                <div class="newsletter_text">
                  <div class="email-icon">
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                        <symbol id="mail" viewBox="0 0 500 500">
                          <title>mail</title>
                          <path
                            d="m494.2,488c0,0 0-225.8 0-301 0-3.1-3.9-7-7.7-9.9l-78.7-57.1v-63.1c0-6.2-5.2-10.4-10.4-10.4h-89.7l-45.7-33.3c-3.1-2.1-8.3-2.1-11.5,0l-45.7,33.3h-89.7c-6.2,0-10.4,5.2-10.4,10.4v62.4l-79.7,57.9c-4.7,2.9-7.7,6.7-7.7,9.9 0,75.7 0,303 0,303 0,5.9 4.7,10 9.6,10.4 0.3,0 0.5,0 0.8,0h456c6.7-0.1 10.5-5.3 10.5-12.5zm-19.8-282.3v263.6l-172.1-137.8 172.1-125.8zm-7.7-18.3l-58.9,42.9v-86.2l58.9,43.3zm-210.9-154.5l18.3,13.5h-36.7l18.4-13.5zm131.2,34.4v178.2l-131.2,95.6-131.2-95.6v-178.2h262.4zm-349.8,138.4l172.1,125.8-172.1,138.6v-264.4zm67.6,25.4l-60.4-44 60.4-43.9v87.9zm-48.9,249.5l170.1-136.9 23.5,17.2c4.5,3.4 7.9,3.4 12.5,0l23.5-17.2 171.1,136.9h-400.7z">
                          </path>
                          <rect width="140.5" x="186.1" y="118.3" height="19.8"></rect>
                          <rect width="140.5" x="186.1" y="181.8" height="19.8"></rect>
                          <rect width="140.5" x="186.1" y="245.3" height="19.8"></rect>
                        </symbol>
                      </svg> -->
                    <svg class="icon" viewBox="0 0 40 40">
                      <use xlink:href="#mail" x="0%" y="0%"></use>
                    </svg>
                  </div>
                  <h2 class="heading">Get In Touch With Us</h2>
                  <div class="block-container">
                    <ul class="social-inner">
                      <li class="facebook">
                        <a href="#" target="_blank">
                          <i class="fa fa-facebook"></i><span class="socialicon-label">Facebook</span>
                        </a>
                      </li>
                      <li class="twitter">
                        <a href="#" target="_blank">
                          <i class="fa fa-twitter"></i><span class="socialicon-label">Twitter</span>
                        </a>
                      </li>

                      <li class="instagram">
                        <a href="#" target="_blank">
                          <i class="fa fa-instagram"></i><span class="socialicon-label">Instagram</span>
                        </a>
                      </li>

                    </ul>
                  </div>
                </div>
                <div class="newsletter_form">

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="footer-after">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-xs-12">
          <!-- copyrights -->
          <p class="footer-aftertext ">
            <a class="_blank copyright-align" href="#" target="_blank">
              Copyright 2022 Leadchem . 
            </a>
          </p>
        </div>

        <!-- payment block -->
        <!-- <div class="col-lg-6 col-xs-12">
            
            <div class="paymentlogo-container">
              <img src="{% static 'web/images/paymenticon/1.png' %}" alt="Discover">
              <img src="{% static 'web/images/paymenticon/2.png' %}" alt="Visa">
              <img src="{% static 'web/images/paymenticon/3.png' %}" alt="JCB">
              <img src="{% static 'web/images/paymenticon/4.png' %}" alt="PayPal">
              <img src="{% static 'web/images/paymenticon/5.png' %}" alt="Master Card">
              <img src="{% static 'web/images/paymenticon/6.png' %}" alt="American Express">
            </div>
          </div> -->


      </div>
    </div>
  </div>

  <a id="slidetop"></a>
</footer>